body{
    background-image: linear-gradient(to bottom, #de6262, #e87869, #f08e72, #f8a37e, #ffb88c);
}
.card{
    height:250px;
    width: 300px;
    
}
textarea{
    height: 300px;
    width: 300px;
    font-size: 25px !important;
    font-weight: 600;
}